{% extends 'base.html.twig' %}

{% block title %}Movie detail{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.releasedAt|date('Y-m-d') }}</p>

    <div>Genres:</div>
    <ul>
        {% for item in movie.genre %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
